# Даний файл містить приклад конфігурації змінних середовища для проекту.
# Скопіюйте цей файл у .env та вкажіть реальні значення для вашої локальної розробки.

###> symfony/framework-bundle ###
APP_ENV=dev
APP_SECRET=your_app_secret_here
###< symfony/framework-bundle ###

###> symfony/routing ###
DEFAULT_URI=http://localhost
###< symfony/routing ###

###> doctrine/doctrine-bundle ###
# Формат підключення: mysql://user:password@127.0.0.1:3306/db_name?serverVersion=8.0.31&charset=utf8mb4
DATABASE_URL="mysql://root:@127.0.0.1:3306/gamefinder?serverVersion=8.0.31&charset=utf8mb4"
###< doctrine/doctrine-bundle ###

# Google OAuth
GOOGLE_CLIENT_ID=your_google_client_id_here
GOOGLE_CLIENT_SECRET=your_google_client_secret_here

# Discord OAuth
DISCORD_CLIENT_ID=your_discord_client_id_here
DISCORD_CLIENT_SECRET=your_discord_client_secret_here

###> symfony/mailer ###
MAILER_DSN=null://null
###< symfony/mailer ###

# Cloudinary
CLOUDINARY_URL=cloudinary://api_key:api_secret@cloud_name

###> symfony/messenger ###
MESSENGER_TRANSPORT_DSN=doctrine://default?auto_setup=0
###< symfony/messenger ###

###> symfony/mercure-bundle ###
MERCURE_URL=https://example.com/.well-known/mercure
MERCURE_PUBLIC_URL=https://example.com/.well-known/mercure
MERCURE_JWT_SECRET="your_mercure_jwt_secret_here"
###< symfony/mercure-bundle ###